/*Utilities*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/*Pseudoclases y elementos*/
p::selection, h1 span::selection, h1::selection, h2::selection, .clasRiv .subClas h3::selection, h3::selection, .tituloColor::selection, .refran::selection, a::selection {
  background-color: #ac9f39;
  color: white; }

/*Body*/
body {
  background-image: url(.././assets/img/fondoblack.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); }
  body .header {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 65px;
    background-color: #1A1A1A; }
    body .header nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: none;
      display: flex;
      font-size: 20px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      width: 100%;
      height: 100%; }
      body .header nav .logo {
        width: 5%;
        height: 100%;
        padding-left: 30px; }
        body .header nav .logo img {
          padding-top: 4px;
          width: auto;
          height: 90%; }
      body .header nav .burger {
        display: none; }
      body .header nav .menu-hamburguesa {
        display: none; }
      body .header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
        display: flex;
        text-decoration: none;
        list-style-type: none;
        width: 95%;
        margin: 0;
        padding: 0; }
        body .header nav ul li .marcada {
          color: #00F4FF; }
        body .header nav ul li .link {
          color: #a3a1a1; }
          body .header nav ul li .link:hover {
            color: #00F4FF;
            transition: all .5s; }
  body main section .tituloPages, body main section .titContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
    display: flex;
    width: 100%;
    height: 8.75rem;
    background-color: #1A1A1A;
    padding: .625rem 0;
    margin: 4.375rem 0; }
    body main section .tituloPages span, body main section .titContact span {
      color: #00F4FF; }
    body main section .tituloPages .titPag, body main section .titContact .titPag {
      width: 100%;
      font-size: 40px; }
  body main section .titContact {
    height: 6.25rem; }
  body footer {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
    display: flex;
    height: 7.5rem; }
    body footer div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: none;
      display: flex; }
      body footer div .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: none;
        gap: none;
        display: flex;
        list-style-type: none;
        gap: .9375rem;
        padding-left: .9375rem;
        margin: 0; }
      body footer div .derechosAutor {
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: none;
        gap: 0;
        display: flex;
        margin: 0;
        padding: 0; }
        body footer div .derechosAutor p, body footer div .derechosAutor h1 span::selection, h1 body footer div .derechosAutor span::selection, body footer div .derechosAutor h1::selection, body footer div .derechosAutor h2::selection, body footer div .derechosAutor .clasRiv .subClas h3::selection, .clasRiv .subClas body footer div .derechosAutor h3::selection, body footer div .derechosAutor h3::selection, body footer div .derechosAutor .tituloColor::selection, body footer div .derechosAutor .refran::selection, body footer div .derechosAutor a::selection {
          font-size: 13px;
          padding-right: 1.25rem;
          text-align: right;
          color: white;
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          margin: 0; }
  body .footerPages {
    height: 4.375rem;
    margin-top: 1.25rem;
    padding: 0; }

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1em; }

/*Layout*/
/*index*/
.indexLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex;
  padding-bottom: 6.25rem;
  padding-top: 10px; }
  .indexLogo img {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
    width: 20%;
    height: auto;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3800ms; }
  .indexLogo p, .indexLogo h1 span::selection, h1 .indexLogo span::selection, .indexLogo h1::selection, .indexLogo h2::selection, .indexLogo .clasRiv .subClas h3::selection, .clasRiv .subClas .indexLogo h3::selection, .indexLogo h3::selection, .indexLogo .tituloColor::selection, .indexLogo .refran::selection, .indexLogo a::selection {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200; }
  .indexLogo .refran {
    font-family: "Nunito", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 25px;
    text-align: center; }

section .tituloIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex;
  background-color: #1A1A1A;
  width: 100%;
  height: 140px;
  margin-bottom: 70px;
  font-weight: 600; }
  section .tituloIndex span {
    color: #00F4FF; }
  section .tituloIndex .tit {
    width: 100%;
    text-align: center;
    font-size: 40px; }

section .historicos h2, section .historicos .clasRiv .subClas h3, .clasRiv .subClas section .historicos h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 4.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: -4.375rem; }

section .jugHist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 12.5rem);
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem; }
  section .jugHist .nombres {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px; }
  section .jugHist .maradona, section .jugHist .messi, section .jugHist .diStefano {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    display: flex;
    color: white;
    width: 13.125rem;
    height: 18.75rem;
    margin-left: 1.875rem; }
    section .jugHist .maradona img, section .jugHist .messi img, section .jugHist .diStefano img {
      width: 100%;
      height: 100%;
      border: 2px solid white;
      cursor: pointer;
      transition: filter 1s; }
    section .jugHist .maradona p, section .jugHist .messi p, section .jugHist .diStefano p, section .jugHist .maradona h1 span::selection, h1 section .jugHist .maradona span::selection, section .jugHist .messi h1 span::selection, h1 section .jugHist .messi span::selection, section .jugHist .diStefano h1 span::selection, h1 section .jugHist .diStefano span::selection, section .jugHist .maradona h1::selection, section .jugHist .messi h1::selection, section .jugHist .diStefano h1::selection, section .jugHist .maradona h2::selection, section .jugHist .messi h2::selection, section .jugHist .diStefano h2::selection, section .jugHist .maradona h3::selection, section .jugHist .messi h3::selection, section .jugHist .diStefano h3::selection, section .jugHist .maradona .tituloColor::selection, section .jugHist .messi .tituloColor::selection, section .jugHist .diStefano .tituloColor::selection, section .jugHist .maradona .refran::selection, section .jugHist .messi .refran::selection, section .jugHist .diStefano .refran::selection, section .jugHist .maradona a::selection, section .jugHist .messi a::selection, section .jugHist .diStefano a::selection {
      width: 12.5rem;
      height: 16.5625rem;
      margin-bottom: 2.8125rem;
      padding: .625rem;
      position: absolute;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      overflow: auto;
      -webkit-animation: desaparicion 500ms linear both;
      animation: desaparicion 500ms linear both; }
    section .jugHist .maradona:hover p, section .jugHist .messi:hover p, section .jugHist .diStefano:hover p, section .jugHist .maradona:hover h1 span::selection, h1 section .jugHist .maradona:hover span::selection, section .jugHist .messi:hover h1 span::selection, h1 section .jugHist .messi:hover span::selection, section .jugHist .diStefano:hover h1 span::selection, h1 section .jugHist .diStefano:hover span::selection, section .jugHist .maradona:hover h1::selection, section .jugHist .messi:hover h1::selection, section .jugHist .diStefano:hover h1::selection, section .jugHist .maradona:hover h2::selection, section .jugHist .messi:hover h2::selection, section .jugHist .diStefano:hover h2::selection, section .jugHist .maradona:hover h3::selection, section .jugHist .messi:hover h3::selection, section .jugHist .diStefano:hover h3::selection, section .jugHist .maradona:hover .tituloColor::selection, section .jugHist .messi:hover .tituloColor::selection, section .jugHist .diStefano:hover .tituloColor::selection, section .jugHist .maradona:hover .refran::selection, section .jugHist .messi:hover .refran::selection, section .jugHist .diStefano:hover .refran::selection, section .jugHist .maradona:hover a::selection, section .jugHist .messi:hover a::selection, section .jugHist .diStefano:hover a::selection {
      -webkit-animation: textaparicion 500ms linear both;
      animation: textaparicion 500ms linear both; }
    section .jugHist .maradona:hover img, section .jugHist .messi:hover img, section .jugHist .diStefano:hover img {
      filter: brightness(25%);
      transition: filter .5s; }
  section .jugHist .messi {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 15rem;
    height: 30rem;
    margin-right: .4375rem;
    margin-left: 0; }
    section .jugHist .messi p, section .jugHist .messi h1 span::selection, h1 section .jugHist .messi span::selection, section .jugHist .messi h1::selection, section .jugHist .messi h2::selection, section .jugHist .messi h3::selection, section .jugHist .messi .tituloColor::selection, section .jugHist .messi .refran::selection, section .jugHist .messi a::selection {
      height: 24.375rem;
      margin-bottom: 3.125rem; }
  section .jugHist .diStefano {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 13.75rem;
    height: 20rem;
    margin-right: 1.875rem;
    margin-left: 0; }

.palmaresIndex {
  width: 100%;
  padding-bottom: 4.6875rem; }
  .palmaresIndex h2, .palmaresIndex .clasRiv .subClas h3, .clasRiv .subClas .palmaresIndex h3 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px; }

.somosMontiel {
  color: white;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  padding-bottom: .9375rem; }

/*palmares*/
section .palmaresIzquierda, section .palmaresDerecha {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: none;
  display: flex;
  color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(90deg, #ac9f39, black 85%);
  width: 100%;
  height: 12.5rem; }
  section .palmaresIzquierda .imagenMundial, section .palmaresDerecha .imagenMundial, section .palmaresIzquierda .imagenFinalissima, section .palmaresDerecha .imagenFinalissima, section .palmaresIzquierda .imagenPan, section .palmaresDerecha .imagenPan, section .palmaresDerecha .imagenCa, section .palmaresDerecha .imagenConf {
    padding: 1.25rem 5rem 1.25rem 3.125rem;
    width: auto;
    height: 100%;
    border-right: 2px solid black; }
  section .palmaresIzquierda .munNum, section .palmaresDerecha .munNum, section .palmaresIzquierda .numFin, section .palmaresDerecha .numFin, section .palmaresIzquierda .numPan, section .palmaresDerecha .numPan, section .palmaresDerecha .numCa, section .palmaresDerecha .numConf {
    text-align: center;
    font-size: 24px;
    margin: 8.125rem 6.25rem 0 -6.875rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 .125rem 0 .125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: 3px 3px 4px white; }
  section .palmaresIzquierda .imagenFinalissima, section .palmaresDerecha .imagenFinalissima {
    padding: 1.25rem 3.75rem 1.25rem 3.125rem; }
  section .palmaresIzquierda .numFin, section .palmaresDerecha .numFin {
    margin: 8.125rem 5.3125rem 0 -5.9375rem; }
  section .palmaresIzquierda .imagenPan, section .palmaresDerecha .imagenPan {
    padding: 1.25rem 4.625rem 1.25rem 3.125rem; }
  section .palmaresIzquierda .numPan, section .palmaresDerecha .numPan {
    margin: 7.8125rem 5.9375rem 0 -6.5625rem; }
  section .palmaresIzquierda div, section .palmaresDerecha div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    display: flex;
    height: 10.3125rem;
    width: 37.5rem;
    overflow: auto;
    padding: 0 .9375rem; }
    section .palmaresIzquierda div p, section .palmaresDerecha div p, section .palmaresIzquierda div h1 span::selection, h1 section .palmaresIzquierda div span::selection, section .palmaresDerecha div h1 span::selection, h1 section .palmaresDerecha div span::selection, section .palmaresIzquierda div h1::selection, section .palmaresDerecha div h1::selection, section .palmaresIzquierda div h2::selection, section .palmaresDerecha div h2::selection, section .palmaresIzquierda div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresIzquierda div h3::selection, section .palmaresDerecha div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresDerecha div h3::selection, section .palmaresIzquierda div h3::selection, section .palmaresDerecha div h3::selection, section .palmaresIzquierda div .tituloColor::selection, section .palmaresDerecha div .tituloColor::selection, section .palmaresIzquierda div .refran::selection, section .palmaresDerecha div .refran::selection, section .palmaresIzquierda div a::selection, section .palmaresDerecha div a::selection {
      font-size: 20px;
      width: 34.375rem;
      text-align: left; }

section .palmaresDerecha {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: none;
  background-image: linear-gradient(270deg, #ac9f39, black 85%);
  height: 13.75rem; }
  section .palmaresDerecha .imagenCa, section .palmaresDerecha .imagenConf {
    padding: 1.25rem 3.125rem 1.25rem 5rem;
    z-index: 1;
    border-left: 2px solid black; }
  section .palmaresDerecha .numCa {
    margin: 9.0625rem -7.1875rem 0 5.625rem;
    width: 3.125rem;
    height: 3.125rem;
    padding-top: .375rem;
    box-shadow: -3px 3px 4px white;
    z-index: 2; }
  section .palmaresDerecha .imagenConf {
    padding: 2.5rem 3.125rem 2.5rem 6.875rem; }
  section .palmaresDerecha .numConf {
    margin: 6.875rem -8.4375rem 0 7.5rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2; }
  section .palmaresDerecha div {
    height: 11.875rem;
    width: 34.375rem; }

/*plantel*/
.subPlantel {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; }

/*clasicos*/
.clasRiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  display: flex;
  color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }
  .clasRiv .subClas h2, .clasRiv .subClas h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 4.375rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: -3.125rem; }
  .clasRiv .imgClas, .clasRiv .imgArgal {
    width: 58%;
    height: auto;
    box-shadow: 4px 4px 5px #00F4FF;
    margin-bottom: 1.875rem; }
  .clasRiv .imgArgal {
    width: 51%; }
  .clasRiv .pargBr, .clasRiv .pargUru, .clasRiv .pargIng, .clasRiv .pargAl, .clasRiv .pargHol {
    width: 70%;
    height: 12.5rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 2.5rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    box-shadow: 2px 2px 2px white;
    overflow: auto; }
  .clasRiv .pargUru, .clasRiv .pargIng, .clasRiv .pargAl, .clasRiv .pargHol {
    height: 18.125rem;
    padding: 1.25rem 1.5625rem 1.5625rem 1.5625rem; }
  .clasRiv .pargIng, .clasRiv .pargAl, .clasRiv .pargHol {
    height: 16.25rem;
    padding: 1.25rem 1.875rem 1.25rem 1.875rem; }
  .clasRiv .pargAl {
    height: 13.5625rem;
    padding: 1.5625rem 1.5625rem; }
  .clasRiv .pargHol {
    height: 15rem;
    margin-bottom: 1.25rem;
    padding: 1.5625rem 1.875rem 1.25rem 1.875rem; }

.rivTitle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  background-color: #002021;
  padding: 1.25rem;
  margin: .625rem 0 2.5rem 0; }

/*contacto*/
.contactPage {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 3.125rem;
  display: flex; }
  .contactPage .contact p, .contactPage .contact h1 span::selection, h1 .contactPage .contact span::selection, .contactPage .contact h1::selection, .contactPage .contact h2::selection, .contactPage .contact h3::selection, .contactPage .contact .tituloColor::selection, .contactPage .contact .refran::selection, .contactPage .contact a::selection {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 37.5rem;
    padding-left: 2.8125rem;
    margin-top: 3.75rem;
    text-align: left; }
  .contactPage .formulario {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none;
    gap: none;
    display: flex;
    padding-bottom: 5rem; }
    .contactPage .formulario .logoContact {
      width: auto;
      height: 25rem; }
    .contactPage .formulario .form {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: 0.625rem;
      display: flex;
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-style: normal;
      color: white;
      text-transform: capitalize;
      width: 30%;
      gap: .625rem;
      margin-top: 3.125rem; }
      .contactPage .formulario .form .nomb, .contactPage .formulario .form .e-mail, .contactPage .formulario .form .message, .contactPage .formulario .form .bot, .contactPage .formulario .form input {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        width: 100%;
        padding: .625rem .3125rem .625rem .3125rem;
        color: white; }
      .contactPage .formulario .form .message {
        padding: .3125rem .3125rem 9.375rem .3125rem; }
      .contactPage .formulario .form .bot {
        border: none;
        width: 25%;
        padding: .5rem 0;
        margin-top: .4375rem; }
      .contactPage .formulario .form input {
        background-color: #2c2a2a;
        border: none;
        outline: none; }
        .contactPage .formulario .form input:hover {
          background-color: #ac9f39;
          color: black;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-style: normal;
          transition: all .5s; }
        .contactPage .formulario .form input:focus {
          padding-right: .3125rem;
          color: white;
          background-color: #2c2a2a; }
        .contactPage .formulario .form input:hover::placeholder {
          color: black;
          font-weight: 600; }
        .contactPage .formulario .form input:focus::-webkit-input-placeholder {
          opacity: 0; }
      .contactPage .formulario .form ::placeholder {
        color: white;
        padding: .3125rem; }

/*Media 768*/
@media (max-width: 768px) {
  body .header {
    height: 3.125rem; }
    body .header .navBar {
      display: flex;
      flex-direction: none;
      justify-content: space-between;
      align-items: center;
      gap: none;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      padding: 0 1.25rem; }
      body .header .navBar .logo {
        padding: 0;
        margin: 0; }
      body .header .navBar .burger {
        display: block;
        height: 79%;
        margin-right: -0.625rem;
        cursor: pointer; }
      body .header .navBar .ul-links {
        display: flex;
        flex-direction: none;
        justify-content: center;
        align-items: none;
        gap: none;
        display: flex;
        background-image: url(../assets/img/desenfocada.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        top: 50px;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        right: 0;
        transition: all .3s; }
        body .header .navBar .ul-links li .link {
          color: white; }
          body .header .navBar .ul-links li .link:active {
            color: #00F4FF;
            text-decoration: underline; }
      body .header .navBar .menu-hamburguesa:checked + .ul-links {
        height: calc(100vh - 3.125rem); }
  body main section .tituloPages, body main section .titContact {
    height: auto; }
    body main section .tituloPages .titPag, body main section .titContact .titPag {
      padding: .9375rem 0;
      font-size: 20px;
      font-weight: 500;
      width: 80%; }
  body footer {
    height: auto; }
    body footer div {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: none;
      padding-bottom: 6px; }
    body footer .redes {
      display: flex;
      flex-direction: none;
      justify-content: none;
      align-items: none;
      gap: 0.625rem;
      padding: 0;
      margin-right: .625rem;
      padding-bottom: 1.875rem; }
      body footer .redes img {
        width: 80%;
        height: auto; }
    body footer .derechosAutor {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: center;
      gap: none;
      margin-right: -1rem; }
      body footer .derechosAutor p, body footer .derechosAutor h1 span::selection, h1 body footer .derechosAutor span::selection, body footer .derechosAutor h1::selection, body footer .derechosAutor h2::selection, body footer .derechosAutor .clasRiv .subClas h3::selection, .clasRiv .subClas body footer .derechosAutor h3::selection, body footer .derechosAutor h3::selection, body footer .derechosAutor .tituloColor::selection, body footer .derechosAutor .refran::selection, body footer .derechosAutor a::selection {
        text-align: center;
        font-size: 12px; }
  body .footerPages {
    height: auto; }
    body .footerPages .redes {
      padding: 1.25rem 0 .9375rem 0; }
  .indexLogo img {
    width: 7.5rem;
    height: auto; }
  .indexLogo p, .indexLogo h1 span::selection, h1 .indexLogo span::selection, .indexLogo h1::selection, .indexLogo h2::selection, .indexLogo .clasRiv .subClas h3::selection, .clasRiv .subClas .indexLogo h3::selection, .indexLogo h3::selection, .indexLogo .tituloColor::selection, .indexLogo .refran::selection, .indexLogo a::selection {
    width: 60%;
    font-size: 18px;
    margin-top: -1.25rem;
    line-height: 1.1em; }
  .indexLogo .refran {
    font-size: 18px; }
  section .tituloIndex {
    margin-top: -2.5rem;
    height: auto; }
    section .tituloIndex .tit {
      padding: 1.25rem 0;
      font-size: 20px;
      font-weight: 500;
      width: 80%; }
  section .historicos {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    gap: none;
    display: flex;
    width: 100%;
    margin-bottom: 3.125rem; }
    section .historicos h2, section .historicos .clasRiv .subClas h3, .clasRiv .subClas section .historicos h3 {
      font-size: 22px;
      width: 80%;
      line-height: 1.2em; }
  section .jugHist {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 4.375rem;
    display: flex; }
    section .jugHist .nombres {
      font-size: 20px;
      line-height: 1.1em; }
    section .jugHist .maradona, section .jugHist .messi, section .jugHist .diStefano {
      margin: 0;
      width: 28%;
      height: auto;
      text-align: center;
      order: 2; }
      section .jugHist .maradona p:not(:hover), section .jugHist .messi p:not(:hover), section .jugHist .diStefano p:not(:hover), section .jugHist .maradona h1 span:not(:hover)::selection, h1 section .jugHist .maradona span:not(:hover)::selection, section .jugHist .messi h1 span:not(:hover)::selection, h1 section .jugHist .messi span:not(:hover)::selection, section .jugHist .diStefano h1 span:not(:hover)::selection, h1 section .jugHist .diStefano span:not(:hover)::selection, section .jugHist .maradona h1:not(:hover)::selection, section .jugHist .messi h1:not(:hover)::selection, section .jugHist .diStefano h1:not(:hover)::selection, section .jugHist .maradona h2:not(:hover)::selection, section .jugHist .messi h2:not(:hover)::selection, section .jugHist .diStefano h2:not(:hover)::selection, section .jugHist .maradona h3:not(:hover)::selection, section .jugHist .messi h3:not(:hover)::selection, section .jugHist .diStefano h3:not(:hover)::selection, section .jugHist .maradona .tituloColor:not(:hover)::selection, section .jugHist .messi .tituloColor:not(:hover)::selection, section .jugHist .diStefano .tituloColor:not(:hover)::selection, section .jugHist .maradona .refran:not(:hover)::selection, section .jugHist .messi .refran:not(:hover)::selection, section .jugHist .diStefano .refran:not(:hover)::selection, section .jugHist .maradona a:not(:hover)::selection, section .jugHist .messi a:not(:hover)::selection, section .jugHist .diStefano a:not(:hover)::selection {
        display: none; }
      section .jugHist .maradona:hover img, section .jugHist .messi:hover img, section .jugHist .diStefano:hover img {
        filter: none; }
    section .jugHist .messi {
      margin: 0;
      width: 28%;
      height: auto;
      text-align: center;
      order: 1; }
    section .jugHist .diStefano {
      margin: 0;
      width: 28%;
      height: auto;
      text-align: center;
      order: 3; }
  .palmaresIndex {
    display: none; }
  .somosMontiel {
    font-size: 24px;
    padding-top: .625rem;
    padding-bottom: 1.875rem; }
  body footer div .derechosAutor p, body footer div .derechosAutor h1 span::selection, h1 body footer div .derechosAutor span::selection, body footer div .derechosAutor h1::selection, body footer div .derechosAutor h2::selection, body footer div .derechosAutor .clasRiv .subClas h3::selection, .clasRiv .subClas body footer div .derechosAutor h3::selection, body footer div .derechosAutor h3::selection, body footer div .derechosAutor .tituloColor::selection, body footer div .derechosAutor .refran::selection, body footer div .derechosAutor a::selection {
    padding-right: 0; }
  section .palmaresIzquierda, section .palmaresDerecha {
    height: 9.375rem;
    background-image: linear-gradient(90deg, #ac9f39, black 90%); }
    section .palmaresIzquierda .imagenMundial, section .palmaresDerecha .imagenMundial, section .palmaresIzquierda .imagenFinalissima, section .palmaresDerecha .imagenFinalissima, section .palmaresIzquierda .imagenPan, section .palmaresDerecha .imagenPan, section .palmaresDerecha .imagenCa, section .palmaresDerecha .imagenConf {
      padding-right: 3.125rem; }
    section .palmaresIzquierda .munNum, section .palmaresDerecha .munNum, section .palmaresIzquierda .numFin, section .palmaresDerecha .numFin, section .palmaresIzquierda .numPan, section .palmaresDerecha .numPan, section .palmaresDerecha .numCa, section .palmaresDerecha .numConf {
      margin: 6.25rem 4.6875rem 0 -5rem;
      width: 2.1875rem;
      height: 2.1875rem; }
    section .palmaresIzquierda .imagenFinalissima, section .palmaresDerecha .imagenFinalissima {
      padding: 1.25rem 2.5rem 1.25rem 2.8125rem; }
    section .palmaresIzquierda .numFin, section .palmaresDerecha .numFin {
      margin: 5.625rem 4.5rem 0 -4.875rem;
      width: 2.1875rem;
      height: 2.1875rem; }
    section .palmaresIzquierda .imagenPan, section .palmaresDerecha .imagenPan {
      padding: 1.25rem 2.8125rem 1.25rem 3.125rem; }
    section .palmaresIzquierda .numPan, section .palmaresDerecha .numPan {
      margin: 5.625rem 4.25rem 0 -4.6875rem;
      width: 2.1875rem;
      height: 2.1875rem; }
    section .palmaresIzquierda div, section .palmaresDerecha div {
      display: flex;
      flex-direction: none;
      justify-content: flex-start;
      align-items: none;
      gap: none;
      height: auto; }
      section .palmaresIzquierda div p, section .palmaresDerecha div p, section .palmaresIzquierda div h1 span::selection, h1 section .palmaresIzquierda div span::selection, section .palmaresDerecha div h1 span::selection, h1 section .palmaresDerecha div span::selection, section .palmaresIzquierda div h1::selection, section .palmaresDerecha div h1::selection, section .palmaresIzquierda div h2::selection, section .palmaresDerecha div h2::selection, section .palmaresIzquierda div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresIzquierda div h3::selection, section .palmaresDerecha div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresDerecha div h3::selection, section .palmaresIzquierda div h3::selection, section .palmaresDerecha div h3::selection, section .palmaresIzquierda div .tituloColor::selection, section .palmaresDerecha div .tituloColor::selection, section .palmaresIzquierda div .refran::selection, section .palmaresDerecha div .refran::selection, section .palmaresIzquierda div a::selection, section .palmaresDerecha div a::selection {
        height: 7.5rem; }
  section .palmaresDerecha {
    height: 9.375rem;
    background-image: linear-gradient(270deg, #ac9f39, black 90%); }
    section .palmaresDerecha .imagenConf {
      padding: 1.25rem 4.375rem 1.25rem 4.25rem; }
    section .palmaresDerecha .numConf {
      margin: 5.625rem -4.875rem 0 4.0625rem;
      background-color: rgba(0, 0, 0, 0.788);
      width: 2.1875rem;
      height: 2.1875rem; }
    section .palmaresDerecha div {
      display: flex;
      flex-direction: none;
      justify-content: flex-end;
      align-items: none;
      gap: none;
      height: auto;
      overflow-x: scroll; }
      section .palmaresDerecha div p, section .palmaresDerecha div h1 span::selection, h1 section .palmaresDerecha div span::selection, section .palmaresDerecha div h1::selection, section .palmaresDerecha div h2::selection, section .palmaresDerecha div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresDerecha div h3::selection, section .palmaresDerecha div h3::selection, section .palmaresDerecha div .tituloColor::selection, section .palmaresDerecha div .refran::selection, section .palmaresDerecha div a::selection {
        height: 7.5rem; }
    section .palmaresDerecha .imagenCa, section .palmaresDerecha .imagenConf {
      padding: 1.25rem 3.125rem 1.25rem 3.125rem; }
    section .palmaresDerecha .numCa {
      font-size: 20px;
      margin: 5rem -5rem 0 2.8125rem;
      width: 2.8125rem;
      height: 2.8125rem;
      padding: .5rem .3125rem 0 .3125rem; }
  .subPlantel {
    font-size: 24px; }
  .clasRiv .subClas {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    gap: none;
    display: flex;
    width: 100%; }
    .clasRiv .subClas h2, .clasRiv .subClas h3 {
      font-size: 18px;
      width: 80%;
      line-height: 1.2em; }
    .clasRiv .subClas h3 {
      font-size: 18px;
      width: 80%;
      line-height: 1.2em; }
  .clasRiv .pargBr, .clasRiv .pargUru, .clasRiv .pargIng, .clasRiv .pargAl, .clasRiv .pargHol {
    font-size: 16px; }
  .contactPage .contact {
    width: 100%;
    height: auto; }
    .contactPage .contact p, .contactPage .contact h1 span::selection, h1 .contactPage .contact span::selection, .contactPage .contact h1::selection, .contactPage .contact h2::selection, .contactPage .contact h3::selection, .contactPage .contact .tituloColor::selection, .contactPage .contact .refran::selection, .contactPage .contact a::selection {
      width: 85%; }
  .contactPage .formulario .logoContact {
    display: none; }
  .contactPage .formulario .form {
    width: 100%;
    height: auto; }
    .contactPage .formulario .form .nomb, .contactPage .formulario .form .e-mail, .contactPage .formulario .form .message, .contactPage .formulario .form .bot, .contactPage .formulario .form input {
      width: 45%;
      height: auto; }
      .contactPage .formulario .form .nomb:active, .contactPage .formulario .form .e-mail:active, .contactPage .formulario .form .message:active, .contactPage .formulario .form .bot:active, .contactPage .formulario .form input:active {
        background-color: #ac9f39;
        transition: all .5s; }
    .contactPage .formulario .form .e-mail {
      width: 45%;
      height: auto; }
      .contactPage .formulario .form .e-mail:active {
        background-color: #ac9f39;
        transition: all .5s; }
    .contactPage .formulario .form .message {
      width: 45%;
      height: auto; }
      .contactPage .formulario .form .message:active {
        background-color: #ac9f39;
        transition: all .5s; } }

@media (max-width: 412px) {
  section .palmaresIzquierda div p, section .palmaresDerecha div p, section .palmaresIzquierda div h1 span::selection, h1 section .palmaresIzquierda div span::selection, section .palmaresDerecha div h1 span::selection, h1 section .palmaresDerecha div span::selection, section .palmaresIzquierda div h1::selection, section .palmaresDerecha div h1::selection, section .palmaresIzquierda div h2::selection, section .palmaresDerecha div h2::selection, section .palmaresIzquierda div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresIzquierda div h3::selection, section .palmaresDerecha div .clasRiv .subClas h3::selection, .clasRiv .subClas section .palmaresDerecha div h3::selection, section .palmaresIzquierda div h3::selection, section .palmaresDerecha div h3::selection, section .palmaresIzquierda div .tituloColor::selection, section .palmaresDerecha div .tituloColor::selection, section .palmaresIzquierda div .refran::selection, section .palmaresDerecha div .refran::selection, section .palmaresIzquierda div a::selection, section .palmaresDerecha div a::selection {
    font-size: 16px; } }

@media (max-width: 320px) {
  body .header .navBar .burger {
    margin-right: -10px; }
  body .header .navBar .ul-links {
    background-image: url(../assets/img/a.png); }
  .indexLogo {
    margin-top: -1.25rem; }
    .indexLogo img {
      margin: 0;
      width: 120px;
      height: auto; }
    .indexLogo p, .indexLogo h1 span::selection, h1 .indexLogo span::selection, .indexLogo h1::selection, .indexLogo h2::selection, .indexLogo .clasRiv .subClas h3::selection, .clasRiv .subClas .indexLogo h3::selection, .indexLogo h3::selection, .indexLogo .tituloColor::selection, .indexLogo .refran::selection, .indexLogo a::selection {
      width: 11.4375rem; }
  .somosMontiel {
    width: 90%;
    line-height: 1.1em;
    font-size: 20px; }
  section .palmaresIzquierda, section .palmaresDerecha {
    background-image: linear-gradient(90deg, #ac9f39, black 103%); }
  section .palmaresDerecha {
    background-image: linear-gradient(270deg, #ac9f39, black 103%); }
  .subPlantel {
    font-size: 18px; }
  h3 {
    font-size: 20px; }
  .rivTitle {
    font-size: 20px; }
  .contactPage .contact p, .contactPage .contact h1 span::selection, h1 .contactPage .contact span::selection, .contactPage .contact h1::selection, .contactPage .contact h2::selection, .contactPage .contact h3::selection, .contactPage .contact .tituloColor::selection, .contactPage .contact .refran::selection, .contactPage .contact a::selection {
    text-align: justify; } }

/*Components*/
.carousel-indicators {
  margin-bottom: -1.875rem; }

.carousel-control-next {
  margin-right: 2.5rem; }

.carousel-control-prev {
  margin-left: 2.5rem; }

.carousel-inner {
  width: 100%;
  height: 25rem; }
  .carousel-inner .carousel-item {
    height: 100%;
    width: 100%; }
    .carousel-inner .carousel-item .posicionamiento {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      display: flex;
      width: auto;
      height: 100%;
      margin-bottom: 3.75rem; }
      .carousel-inner .carousel-item .posicionamiento .imagenCar {
        width: auto;
        height: 100%; }
      .carousel-inner .carousel-item .posicionamiento .imagenCar2, .carousel-inner .carousel-item .posicionamiento .imagenCar3 {
        width: 43.75rem;
        height: auto;
        margin: 0;
        padding: 0; }
      .carousel-inner .carousel-item .posicionamiento .imagenCar3 {
        margin-bottom: -11.875rem; }
      .carousel-inner .carousel-item .posicionamiento div ul {
        list-style: none;
        background-color: #2c2a2a;
        color: white;
        text-align: center; }
        .carousel-inner .carousel-item .posicionamiento div ul li h3 {
          padding-top: .9375rem;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-style: normal; }
        .carousel-inner .carousel-item .posicionamiento div ul li p, .carousel-inner .carousel-item .posicionamiento div ul li h1 span::selection, h1 .carousel-inner .carousel-item .posicionamiento div ul li span::selection, .carousel-inner .carousel-item .posicionamiento div ul li h1::selection, .carousel-inner .carousel-item .posicionamiento div ul li h2::selection, .carousel-inner .carousel-item .posicionamiento div ul li h3::selection, .carousel-inner .carousel-item .posicionamiento div ul li .tituloColor::selection, .carousel-inner .carousel-item .posicionamiento div ul li .refran::selection, .carousel-inner .carousel-item .posicionamiento div ul li a::selection {
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal; }

/*Jugadores*/
.posicionamiento .carousel-caption ul {
  padding-left: 0;
  width: 37.5625rem;
  margin-bottom: -2.5625rem; }

.posicionamiento .armani ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: -3.75rem; }

.posicionamiento .musso ul {
  padding-left: 0;
  width: 44.5625rem;
  margin-top: -5.5625rem;
  padding-bottom: 5px; }

.posicionamiento .montiel ul {
  padding-left: 0;
  width: 43.75rem;
  padding-bottom: .4375rem;
  margin-top: -25rem; }

.posicionamiento .cuti ul {
  padding-left: 0;
  width: 43.875rem;
  margin-top: 6.375rem;
  padding-bottom: .625rem; }

.posicionamiento .ota ul {
  padding-left: 0;
  width: 43.875rem;
  margin-top: 1.5625rem;
  padding-bottom: .625rem; }

.posicionamiento .licha ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: -1.6875rem;
  padding-bottom: .625rem; }

.posicionamiento .taglia ul {
  padding-left: 0;
  width: 43.875rem;
  margin-top: 6.4375rem; }

.posicionamiento .acuna ul {
  padding-left: 0;
  width: 37.1875rem;
  margin-top: -5.75rem;
  padding-bottom: .9375rem; }

.posicionamiento .maca ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: 3.75rem;
  padding-bottom: .625rem; }

.posicionamiento .paredes ul {
  padding-left: 0;
  width: 43.875rem;
  margin-top: 6.25rem;
  padding-bottom: .3125rem; }

.posicionamiento .gio ul {
  padding-left: 0;
  width: 43.75rem;
  padding-bottom: .3125rem; }

.posicionamiento .depaul ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: 1.875rem;
  padding-bottom: .625rem; }

.posicionamiento .leomessi ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: -5.8125rem;
  padding-bottom: .625rem; }

.posicionamiento .julian ul {
  padding-left: 0;
  width: 43.875rem;
  margin-top: 5.625rem;
  padding-bottom: .625rem; }

.posicionamiento .dybala ul {
  padding-left: 0;
  width: 43.75rem;
  margin-top: 73px;
  padding-bottom: .625rem; }

.posicionamiento .scalo ul {
  padding-left: 0;
  width: 44.5rem;
  margin-top: -5.75rem;
  padding-bottom: .625rem; }

.posicionamiento .samu ul {
  padding-left: 0;
  width: 43.8125rem;
  margin-top: -5.8125rem;
  padding-bottom: .625rem; }

.posicionamiento .ayala ul {
  padding-left: 0;
  width: 44.5625rem;
  margin-top: -5.8125rem;
  padding-bottom: .625rem; }

@keyframes scale {
  0% {
    transform: scale(0.9); }
  25% {
    transform: scale(1);
    filter: drop-shadow(0 0 2.5rem rgba(172, 159, 57, 0.521)); }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2.5rem rgba(172, 159, 57, 0.616)); }
  75% {
    transform: scale(1);
    filter: drop-shadow(0 0 3.125rem rgba(172, 159, 57, 0.856)); }
  100% {
    transform: scale(0.9); } }

@-webkit-keyframes textaparicion {
  0% {
    -webkit-filter: blur(0.75rem);
    filter: blur(0.75rem);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0rem);
    filter: blur(0rem);
    opacity: 1; } }

@keyframes textaparicion {
  0% {
    -webkit-filter: blur(0.75rem);
    filter: blur(0.75rem);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0rem);
    filter: blur(0rem);
    opacity: 1; } }

@-webkit-keyframes desaparicion {
  0% {
    opacity: 1;
    -webkit-filter: blur(0.75rem);
    filter: blur(0.75rem); }
  100% {
    opacity: 0;
    -webkit-filter: blur(0.75rem);
    filter: blur(0rem); } }

@keyframes desaparicion {
  0% {
    opacity: 1;
    -webkit-filter: blur(0.75rem);
    filter: blur(0.75rem); }
  100% {
    opacity: 0;
    -webkit-filter: blur(0.75rem);
    filter: blur(0rem); } }
