*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS general*/

header{
    position: sticky;
    top: 0;
    z-index: 3;
}

h1 span::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
p::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
h1::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
h2::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
h3::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
.tituloColor::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
.refran::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}
a::selection{
    background-color: rgb(172, 159, 57);
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    height: 4.0625rem;
}

header nav ul li a{
    color: rgb(172, 169, 169);
}

header nav ul li a:hover{
    color: #00F4FF;
}

.marcada{
    color: #00F4FF;
}

nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    width: 95%;
    margin: 0;
}

nav div{
    width: 5%;
    height: 100%;
    padding-left: 30px;
    margin-left: -40px;
}

nav div img{
    padding-top: 7px;
    width: auto;
    height: 90%;
}

a{
    text-decoration: none;
    color: white;
}

body{
    width: 100%;
    background-color: black;
}

.tituloPages{
    color: white;
    background-color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.1em;
    padding: 10px 0;
    margin: 70px 0;
}
.tituloPages span{
    color: #00F4FF;
}

h1{
    color: white;
    background-color: #002021;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.1em;
}

.footerPages{
    height: 70px;
    margin-top: 50px;
}
/*.footerPages ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    gap: .9375rem;
    padding: 1.125rem 0rem .3125rem 1.25rem;
} */

/*CSS del Index*/

.tituloIndex{
    color: white;
    background-color: #1A1A1A;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.1em;
    padding: 10px 0;
    margin-bottom: 70px;
}
.tituloIndex span{
    color: #00F4FF;
}
.historicos{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}
.JugHist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 120px;
    width: 100%;
}
.maradona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 12.5rem;
    height: 18.75rem;
    gap: .9375rem;
}
.maradona img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
.messi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15.625rem;
    height: 30rem;
    gap: .9375rem;
}
.messi img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
.diStefano{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 13.125rem;
    height: 20rem;
    gap: .9375rem;
}
.diStefano img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
.nombres{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.indexLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6.25rem;
    padding-top: 3.75rem;
}
.indexLogo img{
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
    width: 18.75rem;
    height: 37.5rem;
}
.indexLogo p{
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}
.refran{
    font-family: "Nunito", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}


.palmaresIndex h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.palmaresIndex{
    width: 100%;
    padding-bottom: 4.6875rem;
}

footer{
    background-color: #002021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.montiel{
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    padding-bottom: 15px;
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.derechosAutor{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: .9375rem;
    padding-left: 15px;
}
footer div ul p{
    font-size: 13px;
    padding-right: 1.25rem;
    text-align: right;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/*CSS página Palmarés*/
.munNum{
    text-align: center;
    font-size: 24px;
    margin: 8.125rem 6.25rem 0 -6.875rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 2.5rem;
    height: 2.5rem;
    padding-top: .125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: 3px 3px 4px white;
}
.numCa{
    text-align: center;
    font-size: 24px;
    margin: 9.0625rem -7.1875rem 0 5.625rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 3.125rem;
    height: 3.125rem;
    padding-top: .375rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: -3px 3px 4px white;
    z-index: 2;
}
.numFin{
    text-align: center;
    font-size: 24px;
    margin: 8.125rem 5.3125rem 0 -5.9375rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 2.5rem;
    height: 2.5rem;
    padding-top: .125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: 3px 3px 4px white;
}
.numConf{
    font-size: 24px;
    text-align: center;
    margin: 6.875rem -8.4375rem 0 7.5rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 2.5rem;
    height: 2.5rem;
    padding-top: .125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: -3px 3px 4px white;
    z-index: 2;
}
.numPan{
    font-size: 24px;
    text-align: center;
    margin: 7.8125rem 5.9375rem 0 -6.5625rem;
    background-color: rgba(0, 0, 0, 0.788);
    width: 2.5rem;
    height: 2.5rem;
    padding-top: .125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    box-shadow: 3px 3px 4px white;
}
.palmaresIzquierda{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(90deg, rgb(172, 159, 57), rgb(0,0,0) 85%);
    width: 100%;
    height: 12.5rem;
}
.palmaresIzquierda div{
    display: flex;
    justify-content: center;
    height: 10.3125rem;
    width: 37.5rem;
    overflow: auto;
    padding: 0 15px;
}
.palmaresIzquierda p{
    font-size: 20px;
    width: 34.375rem;
}
.palmaresDerecha{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(270deg, rgb(172, 159, 57), rgb(0,0,0) 85%);
    width: 100%;
    height: 13.75rem;
}
.palmaresDerecha div{
    display: flex;
    justify-content: center;
    height: 11.875rem;
    width: 34.375rem;
    overflow: auto;
    padding: 0 15px;
}
.palmaresDerecha p{
    width: 34.375rem;
    font-size: 20px;
    text-align: left;
}
.imagenMundial{
    padding: 1.25rem 5rem 1.25rem 3.125rem;
    width: auto;
    height: 100%;
    border-right: 2px solid black;
}
.imagenCa{
    padding: 1.25rem 3.125rem 1.25rem 5rem;
    width: auto;
    height: 100%;
    border-left: 2px solid black;
    z-index: 1;
}
.imagenFinalissima{
    padding: 1.25rem 3.75rem 1.25rem 3.125rem;
    width: auto;
    height: 100%;
    border-right: 2px solid black;
}
.imagenConf{
    padding: 2.5rem 3.125rem 2.5rem 6.875rem;
    width: auto;
    height: 100%;
    border-left: 2px solid black;
    z-index: 1;
}

.imagenPan{
    padding: 1.25rem 4.625rem 1.25rem 3.125rem;
    width: auto;
    height: 100%;
    border-right: 2px solid black;
}

/*CSS página Plantel*/

.subPlantel{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.carousel-inner{
    width: 100%;
    height: 400px;
}
.carousel-item{
    height: 100%;
    width: 100%;
}
.posicionamiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    margin-bottom: 60px;
}
.carousel-caption ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 601px;
    padding: 0;
    margin-bottom: -40px;
    color: white;
}
.carousel-indicators{
    margin-bottom: -30px;
}
ul h3{
    padding-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
ul p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Fotos de jugadores */
.imagenCar{
    width: auto;
    height: 100%;
}
.imagenCar2{
    width: 700px;
    height: auto;
    margin: 0;
    padding: 0;
}
.imagenCar3{
    width: 700px;
    height: auto;
    margin-bottom: -190px;
    padding: 0;
}
.armani ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: -60px;
    color: white;
    text-align: center;
}
.musso ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 713px;
    padding: 0;
    margin-top: -93px;
    color: white;
    text-align: center;
}
.montiel ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: -400px;
    color: white;
    text-align: center;
    font-size: 16px;
}
.cuti ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 713px;
    padding: 0;
    margin-top: -26px;
    color: white;
    text-align: center;
}
.ota ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 702px;
    padding: 0;
    margin-top: 25px;
    color: white;
    text-align: center;
}
.licha ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: -27px;
    color: white;
    text-align: center;
}
.taglia ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 702px;
    padding: 0;
    margin-top: 103px;
    color: white;
    text-align: center;
}
.acuna ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 595px;
    padding: 0;
    margin-top: -92px;
    color: white;
    text-align: center;
}
.maca ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 16px;
}
.paredes ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 702px;
    padding: 0;
    margin-top: 100px;
    color: white;
    text-align: center;
}
.gio ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: 0;
    color: white;
    text-align: center;
}
.depaul ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: 30px;
    color: white;
    text-align: center;
}
.leomessi ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: -93px;
    color: white;
    text-align: center;
}
.julian ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 702px;
    padding: 0;
    margin-top: 90px;
    color: white;
    text-align: center;
}
.dybala ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 700px;
    padding: 0;
    margin-top: 55px;
    color: white;
    text-align: center;
}
.scalo ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 712px;
    padding: 0;
    margin-top: -92px;
    color: white;
    text-align: center;
}
.samu ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 701px;
    padding: 0;
    margin-top: -93px;
    color: white;
    text-align: center;
}
.ayala ul{
    list-style: none;
    background-color: #2c2a2a;
    width: 713px;
    padding: 0;
    margin-top: -93px;
    color: white;
    text-align: center;
}
/*CSS página clásicos*/
.clasRiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.clasRiv img{
    box-shadow: 4px 4px 5px #00F4FF;
    margin-bottom: 1.875rem;
}
.pargBr{
    width: 70%;
    height: 14.375rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.25rem;
    box-shadow: 2px 2px 2px white;
    overflow: auto;
}
.pargUru{
    width: 70%;
    height: 18.125rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 2.5rem;
    padding: 1.5625rem 1.5625rem;
    padding-top: 20px;
    box-shadow: 2px 2px 2px white;
    overflow: auto;
}
.pargIng{
    width: 70%;
    height: 18.25rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 1.25rem;
    padding: 1.5625rem 1.875rem;
    padding-top: 20px;
    box-shadow: 2px 2px 2px white;
    overflow: auto;
}
.pargAl{
    width: 70%;
    height: 13.5625rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 1.25rem;
    padding: 1.5625rem 1.5625rem;
    box-shadow: 2px 2px 2px white;
    overflow: auto;
}
.pargHol{
    width: 70%;
    height: 16.875rem;
    background-color: #1A1A1A;
    font-size: 20px;
    margin-bottom: 1.25rem;
    padding: 1.5625rem 1.875rem;
    box-shadow: 2px 2px 2px white;
    overflow: auto;
}
.subClas{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.rivTitle{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    background-color: #002021;
    padding: 1.25rem;
    margin-top: .625rem;
    margin-bottom: 2.5rem;
}
.imgClas{
    width: 58%;
    height: auto;
}
.imgArgal{
    width: 51%;
    height: auto;
}
/*CSS página Contacto*/
input:hover{
    background-color: rgb(172, 159, 57);
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
}
input:focus::-moz-placeholder{
    opacity: 0;
}
input:focus::-ms-placeholder{
    opacity: 0;
}
input:focus{
    padding-right: 5px;
    color: white;
    background-color: #2c2a2a;
}
input:hover::placeholder{
    color: black;
    font-weight: 600;
}
::placeholder{
    color: white;
    padding: 5px;
}
input{
    background-color: #2c2a2a;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    outline: none;
}
.contactPage{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 37.5rem;
    margin-left: 40px;
    margin-top: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-transform: capitalize;
    width: 30%;
    gap: .625rem;
    margin-top: 50px;
}
.bot{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    width: 25%;
    padding: 8px 0;
    margin-top: 7px;
    color: white;
}
.nomb{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    padding: .625rem .3125rem .625rem .3125rem;
    color: white;
}
.e-mail{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: .625rem .3125rem .625rem .3125rem;
    width: 100%;
    color: white;
}
.message{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    padding: 5px 5px 150px 5px;
    color: white;
}
.logoContact{
    width: auto;
    height: 25rem;
}

/* @media (max-width: 1024px){

    index
    .footIndex{
        margin-top: .9375rem;
    }
    .somosMontiel{
        font-size: 28px;
        padding: 0;
        margin-right: -150px;
    }
    .messi img{
        grid-column: 4/6;
        grid-row: 3/9;
        margin: 0 70px;
        padding: 0;
        width: 60%;
        height: auto;
    }
    .maradona img{
        margin: 20px 25px;
        padding: 0 0;
        width: 70%;
        height: auto;
    }
    .maradona h3{
        font-size: 24px;
        margin-top: -10px;
        padding: 0;
    }
    .diStefano h3{
        font-size: 24px;
        margin-top: -25px;
        margin-left: 45px;
        width: 80%;
    }
    .messi h3{
        font-size: 24px;
        margin-left: 70px;
        width: 60%;
        height: 15%;
    }
    .diStefano img{
        margin: 20px 45px;
        padding: 0 0;
        width: 85%;
        height: auto;
    }
    .indexLogo{
        padding-top: 2.5rem;
        padding-bottom: 4.375rem;
    }

    palmares

    .palmaresIzquierda{
        height: 15.625rem;
    }
    .palmaresIzquierda p{
        font-size: 1.25rem;
        margin-top: -0.3125rem;
        margin-right: .3125rem;
        
    }
    .palmaresDerecha{
        height: 15.625rem;
    }
    .palmaresDerecha p{
        font-size: 1.25rem;
        padding-top: 1.875rem;
        margin-left: .3125rem;
        height: 15.625rem;
    }
    .munNum,.numFin{
        margin-top: 10.625rem;
        margin-left: -7.1875rem;
    }
    .numCa{
        margin-top: 10.9375rem;
    }
    .numConf{
        margin-top: 8.75rem;
        margin-right: -8.125rem;
    }
    .munNum,.numConf,.numFin,.numPan{
        width: 3.125rem;
        height: 3.125rem;
        padding-top: .375rem;
        box-shadow: 3px 3px 4px white;
    }
    .numPan{
        margin-top: 11.25rem;
        margin-left: -7.1875rem;
    }

    Clasicos

    .subClas{
        line-height: 1.875rem;
        margin-bottom: 1.5625rem;
        width: 31.25rem;
    }
    .imgClas{
        width: 50%;
        height: 90%;
    }
    .imgArgal{
        width: 50%;
        height: 100%;
    }
    .clasRiv p{
        font-size: 20px;
        margin-bottom: 2.8125rem;
    }
    .pargBr{
        width: 37.5rem;
        height: 21.5625rem;
        overflow: auto para generar scroll
    }
    .pargUru{
        width: 37.5rem;
        height: 28.125rem;
    }
    .pargIng{
        width: 37.5rem;
        height: 28.125rem;
    }
    .pargAl{
        width: 37.5rem;
        height: 20.3125rem;
    }
    .pargHol{
        width: 37.5rem;
        height: 23.4375rem;
    }
    .bot{
        width: 30%;
        margin-top: 10px;
    }
    .form{
        width: 100%;
        padding: 0 320px 0 320px;
        padding-top: 300px;
        margin-bottom: 200px;
    }
    .contact{
        margin-top: 5rem;
        margin-bottom: 3.125rem;
        padding: 0 180px 0 180px;
        width: 100%;
    }
    .logoContact{
        display: none;
    }
} */