$bordeHistoricos: white;
$backulplantel: #2c2a2a;
$separador: black;
$degDorado: rgb(172, 159, 57);
$degNegro: rgb(0, 0, 0);
$bordenum: rgba(255, 255, 255, 0);
$fondoNum: rgba(0, 0, 0, 0.788);
$brillo25: rgba(172, 159, 57, 0.521);
$brillo50: rgba(172, 159, 57, 0.616);
$brillo75: rgba(172, 159, 57, 0.856);