$bgterciario: #2c2a2a;
$sombra: white;
$separador: black;
$bordenum: rgba(255, 255, 255, 0);
$fondoNum: rgba(0, 0, 0, 0.788);
$degDorado: rgb(172, 159, 57);
$degNegro: rgb(0, 0, 0);
$bordeHistoricos: white;
$placehold: black;