.clasRiv{
    .pargBr{
        font-size: 18px;
    }
    .pargUru{
        font-size: 18px;
    }
    .pargIng{
        font-size: 18px;
    }
    .pargAl{
        font-size: 18px;
    }
    .pargHol{
        font-size: 18px;
    }
}