.indexLogo{
    margin-top: -1.25rem;
    img{
        margin: 0;
        width: 7.5rem;
        height: auto;
    }
    p{
        width: 11.4375rem;
    }
}
.somosMontiel{
    width: 90%;
    line-height: 1.1em;
    font-size: 20px;
}