.somosMontiel{
    color: map-get($texto, textoPrimario);
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    padding-bottom: .9375rem;
}