
.indexLogo{
    img{
        width: 7.5rem;
        height: auto;
    }
    p{
        width: 60%;
        font-size: 18px;
        margin-top: -1.25rem;
        line-height: 1.1em;
    }
    .refran{
        font-size: 18px;
    }
}
section{
    .tituloIndex{
        margin-top: -2.5rem;
        height: auto;
        .tit{
            padding: 1.25rem 0;
            font-size: 20px;
            font-weight: 500;
            width: 80%;
        }
    }
    .historicos{
        @include flex(none, center, none, none);
        display: flex;
        width: 100%;
        margin-bottom: 3.125rem;
        h2{
            font-size: 22px;
            width: 80%;
            line-height: 1.2em;
        }
    }
    .jugHist{
        @include flex(column, none, none, 4.375rem);
        display: flex;
        .nombres{
            font-size: 20px;
            line-height: 1.1em;
        }
        .maradona{
            margin: 0;
            width: 28%;
            height: auto;
            text-align: center;
            order: 2;
            p:not(:hover){
                display: none;
            }
            &:hover img{
                filter: none;
            }
        }
        .messi{
            margin: 0;
            width: 28%;
            height: auto;
            text-align: center;
            order: 1;
        }
        .diStefano{
            margin: 0;
            width: 28%;
            height: auto;
            text-align: center;
            order: 3;
        }
    }
}
.palmaresIndex{
    display: none;
}
.somosMontiel{
    font-size: 24px;
    padding-top: .625rem;
    padding-bottom: 1.875rem;
}
body{
    footer{
        div{
            .derechosAutor{
                p{
                    padding-right: 0;
                }
            }
        }
    }
}