section{
    .palmaresIzquierda{
        height: 9.375rem;
        background-image: linear-gradient(90deg, $degDorado, $degNegro 90%);
        .imagenMundial{
            padding-right: 3.125rem;
        }
        .munNum{
            margin: 6.25rem 4.6875rem 0 -5rem;
            width: 2.1875rem;
            height: 2.1875rem;
        }
        .imagenFinalissima{
            padding: 1.25rem 2.5rem 1.25rem 2.8125rem;
        }
        .numFin{
            margin: 5.625rem 4.5rem 0 -4.875rem;
            width: 2.1875rem;
            height: 2.1875rem;
        }
        .imagenPan{
            padding: 1.25rem 2.8125rem 1.25rem 3.125rem;
        }
        .numPan{
            margin: 5.625rem 4.25rem 0 -4.6875rem;
            width: 2.1875rem;
            height: 2.1875rem;
        }
        div{
            @include flex(none, flex-start, none, none);
            height: auto;
            p{
                height: 7.5rem;
            }
        }
    }
    .palmaresDerecha{
        height: 9.375rem;
        background-image: linear-gradient(270deg, $degDorado, $degNegro 90%);
        .imagenConf{
            padding: 1.25rem 4.375rem 1.25rem 4.25rem;
        }
        .numConf{
            margin: 5.625rem -4.875rem 0 4.0625rem;
            background-color: $fondoNum;
            width: 2.1875rem;
            height: 2.1875rem;
        }
        div{
            @include flex(none, flex-end, none, none);
            height: auto;
            overflow-x: scroll;
            p{
                height: 7.5rem;
            }
        }
        .imagenCa{
            padding: 1.25rem 3.125rem 1.25rem 3.125rem;
        }
        .numCa{
            font-size: 20px;
            margin: 5rem -5rem 0 2.8125rem;
            width: 2.8125rem;
            height: 2.8125rem;
            padding: .5rem .3125rem 0 .3125rem;
        }
    }
}
